h1 {
  font-family: 'Yellowtail', cursive;
  line-height: 70px;
}

h2 {
  font-family: 'Cookie', cursive;
  font-size: 30px;
}

p {
  font-family: 'Praise', cursive;
  line-height: 25px;
  font-size: 18px;
}
